{% extends 'base.html' %}

{% block title %}Morrowind Class Quiz: To the questions{% endblock %}

{% block content %}
    <div class="headers"><h2>Choose one of three answers for each question.</h2></div>
    <form action="/progress" method="POST">
    {% for question in questions %}
        <div class="questions"><p>{{ question['question'] }}</p>
        <p><input type="radio" name="{{ question['question_number'] }}" value=0 required>{{ question['answers'][0][0] }}</p>
        <p><input type="radio" name="{{ question['question_number'] }}" value=1>{{ question['answers'][1][0] }}</p>
        <p><input type="radio" name="{{ question['question_number'] }}" value=2>{{ question['answers'][2][0] }}</p></div>
    {% endfor %}
    <div class="buttons"><input type=submit value="To the results"></div>
    </form>
{% endblock %}